.contact-hero {
  text-align: center;
  background: linear-gradient(90deg, rgba(87, 176, 80, 0.233), rgba(240,180,41,0.05));
  padding: 2rem 1rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.contact-hero h1 {
  font-family: 'Dancing Script', cursive;
  color: #1a7631;
  font-size: 2.5rem;
}
.contact-hero p {
  color:#0f100f;
  max-width: 700px;
  margin: .8rem auto 0;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 3rem 5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.contact-form h2,
.contact-info h2 {
  color: #139313;
  margin-bottom: 1rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}
.contact-form label {
  font-weight: 600;
  color: var(--marine);
}
.contact-form input,
.contact-form textarea {
  padding: .7rem;
  border: 1px solid #2e7315;
  border-radius: 8px;
  font-size: 1rem;
  resize: none;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #118711;
  outline: none;
  box-shadow: 0 0 4px rgba(11,79,108,0.2);
}

.form-message {
  margin-top: .8rem;
  font-weight: 600;
  color: #139313;
}

.contact-info p {
  color: #0a8306;
  margin-bottom: .9rem;
}

@media (max-width: 900px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}
/* Footer */
.simple-footer {
  background: #f3f3f3;
  padding: 3rem 1rem;
  border-top: 1px solid #ddd;
  font-size: 0.95rem;
  color: #0a0a0a;
  width: 100%;      
  max-width: unset;   
  font-family: Arial, Helvetica, sans-serif;
}
.footer-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
/* pie de pagina */
.footer-col h3,
.footer-item-title {
  margin-bottom: 1rem;
  color: #34a334;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.footer-item {
  margin: .3rem 0;
  cursor: pointer;
}
.footer-social i {
  color: #139313;  
}

.footer-item:hover {
  text-decoration: underl
}
.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  padding: 1.2rem 0;
  border-top: 1px solid #cfcfcf;
  color: #2f5e2f;  
  font-size: 0.9rem;
  opacity: 0.9;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .simple-footer {
    text-align: center;
  }

  .footer-social {
    justify-content: center;
  }
}